<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Role Permission Dome</title>
  <%= stylesheet_link_tag 'layout', "web_app_theme", "web_app_theme_override", "themes/drastic-dark/style", :cache => true %>
</head>
<body>
  <div id="box">
    <h1>Web App Theme</h1>
    <div class="block" id="block-login">
      <h2>Login</h2>
      <div class="content login">
        <div class="flash">
          <% flash.each do |type, message| -%>
            <div class="message <%= type %>">
              <p><%= message %></p>
            </div>
          <% end -%>
        </div>
        <%= yield %>
    </div>
  </div>
</body>
</html>
